<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <li>
      <button (click)="onGetContacts()" class="btn btn-sm btn-outline-info ml-2">All</button>
    </li>
    <li>
      <button (click)="onGetContactsInProject()" class="btn btn-sm btn-outline-info ml-2">Selected</button>
    </li>
  </ul>
  <ul class="navbar navbar-nav ml-auto">
    <li>
      <form class="form-inline" #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <input class="form-control mr-sm-2" type="search" name="keyword" placeholder="Search"
          aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <span class="fa fa-search"> Search</span></button>
      </form>
    </li>
  </ul>
</nav>